
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #777;
    color: #3e3e3e;
}

.calc-area {
    width: 50%;
    max-width: 500px;
    margin: 100px auto;
    background-color: #fff;
    border: 2px solid #3e322c;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 1px 3px 9px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    background-color: #3e322c;
    color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 1px 3px 9px rgba(0, 0, 0, 0.3);
}

P {
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
}

#course-area {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    align-items: center;
    margin-bottom: 10px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.5s;
}

form:hover {
    transform: scale(1);
}

input, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #423;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
    background-color: #fff;
    transition: border-color 0.2s, box-shadow 0.2s;
}

input:focus,
select:focus {
    border-color: #3e322c;
    box-shadow: 0px 0px 5px rgba(40, 50, 89, 0.2);
}

input:hover,
select:hover {
    border-color: #3e322c;
}

button {
    width: 100%;
    height: 40px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #3e322c;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

button:hover {
    background-color: rgba(74, 63, 56, 0.9);
    transform: translateY(2px);
    transform: translateX(2px);

}

.final p:hover {
    background: #3e22;
    cursor: pointer;
}

.calc-area {
    position: relative;
    overflow: hidden;
}
    
@media screen and (max-width: 600px) {
    .calc-area {
        width: 80%;
    }
}


